@CHARSET "UTF-8";

*,:after,:before{box-sizing:border-box;}
html { font-size: 16px;}
body { font-size: 1rem; margin:0px; font-family: 'Noto Sans KR', sans-serif;}
a { text-decoration: none; color: #a9afb3;}
.col-12 row justify-content-center align-items-center my-4{ max-width:85%;  max-height: 70%;}
.col-11{ height: 400px; }
.col-12-1 {width: 85%;  max-height: 70%; }
div .row { display:inline-flex!important; }


.mobilea {padding: 8px 20px!important; }